.headerSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 99;

    a.navbar-brand {
        padding: 0;
        img {
            width: 250px;
        }
    }

    nav.navbar {
        background-color: $primary;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0 0 !important;
    }

    #navbarNav {
        height: 100%;
    }
    .navbar ul.nav.navbar-nav {
        height: 100%;
        
        li {
            position: relative;
            align-self: center;

            &:hover:after {
                background: #08b790;
            }

            a span:hover {
                color: #08b790;
            }

            &:hover a span {
                color: #08b790;
            }
        }

        li a {
            display: block;
            color: #fff;
            padding: 8px 16px;
            font-weight: 400;
            font-size: 14px;
            font-family: "Oswald", Open Sans, Helvetica, sans-serif;
            text-decoration: none;
            align-self: center;

            &:hover {
                color: $secondary;
            }
        }

        li.contact-nav a:hover  {
            color: $secondary;
        }

        li.active a {
            color: $secondary;
        }

        a span {
            display: block;
            font-size: 15px;
            color: #989797;
            font-family: "Oswald", Open Sans, Helvetica, sans-serif;
        }
    }
}



.mean-bar {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0) !important;
    width: 100% !important;
    right: 0;
    position: fixed !important;
}

.mean-nav ul li {
    background-color: #fff;
}

.mean-container .mean-nav ul li a {
    font-family: "Oswald", Open Sans, Helvetica, sans-serif;
    font-weight: 500 !important;
    text-align: left !important;
    color: #3e3e3e !important;
    border: none !important;
}

.cookie-section {
    z-index: 2;
    position: fixed;
    bottom: 0;
    display: -ms-flexbox;
    /*display: flex;*/
    width: 100%;
    background: #ffffff;
    margin: 0;
    text-align: center;
    padding: 40px 0;
    /*border-top: 1px solid #000;*/
    font-family: 'Raleway', Open Sans, Helvetica, sans-serif;

    .cookie-section-desc {
        text-align: center;
        display: inline-block;
        padding: 10px 30px;
        font-family: 'Raleway', Open Sans, Helvetica, sans-serif;
        font-size: 14px;
    }

    .cookie-section-agree {
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        padding: 8px 30px;
        cursor: pointer;
        font-family: "Oswald", Open Sans, Helvetica, sans-serif;
        font-size: 16px;
        background-color: $secondary;
        color: #fff;
        
        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }
}

.footer-cookie {
    margin-bottom: 180px;
}
